.vehicle-card{

    border:none;

    border-radius:15px;

    transition:.3s;

}

.vehicle-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 40px rgba(0,0,0,.2);


}
.vehicle-image{
    height:220px;
    object-fit:cover;
    border-radius:12px 12px 0 0;
}